.form_outline{
  /* border: 1px black solid; */
  outline: 0.1rem solid #b9b9b9;
  width: 400px;
  margin: 0 auto;
  border-radius: 3%;
}

.form-groups{
  margin-top: 20px;
  padding-top: 20px;
}
.form-group{
  margin: 0px 20px 0px 20px;
}