.form_outline{
  text-align: center;
  border-radius: 10px;
  margin:60px auto 0 !important;
  color: #000000;
  width: 500px;
}

.login_card_outline{
  width: 500px !important;
  height: 380px !important;
  /* card(gameinfo) が妨害してるので*/
}

.card-body{
  margin: 0 30px 0 30px !important;
}
.form_title{
  font-size: 35px;
  text-align: center;
  color: #000000 !important;
}

label{
  font-size: 20px;
  margin-bottom: 5px;
  color: #000000;
}

.form-group{
  margin: 0px 20px 15px 20px;
  text-align: left;
}

#customCheck1{
  margin-right: 5px;
}

.form_button{
  margin-top: 20px !important;
  background-color: #45be35 !important;
  width: 200px !important;
  border-radius: 20px!important;
}

.form_button:hover{
  color: #ffffff !important;
  background-image: linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
}

.jump_for_signup{
  margin-top: 10px;
  text-align: center;
}