
.gameInfoTitle{
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}


/* div.mb-2{
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:0px;
} */

/* button.btn {
  margin:20px 20px;
} */

/* div .match{
  border: solid thin black;
  height:200px;
  width:400px;
} */

.gameinfo{
  width:300px;
  height:200px;
  margin: 20px;
}


div.container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.infolist{
  margin:50px;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.card{
  width: 18rem;
  height: 14rem;
  border-radius: 20px;
  background-color: #ffffff !important;
  border: none;
}

.card-body{
  background-color: white !important;
}

.card-title{
  background-color: white !important;
}
.card-text{
  background-color: white !important;
}

.btn{
  color: black;
  background-color: #88b940 !important;
  border:none !important;
  margin: 0 auto;
  width: 180px;
  border-radius: 20px;
  margin-bottom: 10px;
}