.form_groups{
  border: none !important;
}

.signup_card_outline{
  width: 500px !important;
  height: 500px !important;
  /* card(gameinfo) が妨害してるので*/
}

.add_team_card{
  border: none !important;
}
.form_button{
  margin-top: 20px !important;
  background-color: #45be35 !important;
  width: 180px !important;
  border-radius: 20px!important;
}
/* .form_button:hover{
  color: #000000 !important;
  background-image: linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
} */

.jump_for_login{
  margin-top: 10px;
  text-align: center;
}