.CreateGamePost{
  text-align: center;
  /* height: 800px; */
  /* margin: 0 auto; */
  outline: none;
}
.create_game_card{
  width: 400px;
  margin: 0 auto;
}

.createGamePostTitle{
  margin-left: 5px;
}
.form-control{
  margin-left: 5px;
  margin-bottom: 3px;
}