.post_game_card_outline{
  width: 500px !important;
  height: 680px !important;
  /* card(gameinfo) が妨害してるので*/
}
.post_game_title{
  font-size: 35px;
  text-align: center;
  color: #000000 !important;
}
.post_game_button{
  margin-top: 20px !important;
  background-color: #45be35 !important;
  width: 200px !important;
  border-radius: 20px!important;
}

.post_game_button:hover{
  color: #ffffff !important;
  background-image: linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
}